.weather-box {
  text-align: center;
}

.temp {
  position: relative;
  display: inline-block;
  margin: 3rem auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.6rem;
  padding: 1.5rem 2.5rem;
  font-size: 10.2rem;
  font-weight: bold;
  text-shadow: 0.3rem 0.6rem rgba(50, 50, 70, 0.5);
  box-shadow: 0.3rem 0.6rem rgba(0, 0, 0, 0.2);
}

.weather {
  font-size: 4.8rem;
  font-weight: bold;
  text-shadow: 0.3rem 0.6rem rgba(50, 50, 70, 0.5);
}
