.location-box {
  color: white;
}

.location {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0.3rem 0.3rem rgba(50, 50, 70, 0.75);
}

.date {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  text-shadow: 0.2rem 0.2rem rgba(50, 50, 70, 0.75);
}
